{% extends "layout.html" %}

{%block title%}{{super()}}{%endblock%}
{%block content%}
{{super()}}
<div class="container mt-5">
    <div class="rounded-circle w-100">
        {% if current_user.profile%}
            <img src="{{url_for('main.load_user_image', image_id=current_user.id)}}">
        {%endif%}
    </div>
    <h1>Description </h1>
    <div>Username : {{current_user.username}}</div>
    {% if current_user.name%}
    <div>Name : {{current_user.name}}</div>
    {% endif %}
    <div>Email : {{current_user.email}}</div>
    <div>Status : {{current_user.roles}}</div>
    {% if current_user.description%}
    <div>More : {{current_user.description}}</div>
    {%endif%}
</div>
{%endblock%}