{% extends "layout.html" %}

{%block title%}{{super()}}{%endblock%}
{%block content%}
{{super()}}
<div class="container p-5 border my-3 border-1">
    <h2 class="text-primary"> Album : {{album.title}}</h2>
    <div class="row g-4">
    {% for song in album.songs%}
    <div class="col-lg-3 col-md-4 col-6 p-3">
        <a href="{{url_for('users.song',song_id = song.id)}}" class="text-decoration-none text-light">
        <div class="beatify-card d-flex flex-column p-4 h-100" style="background-color: rgb(245, 242, 242);" >               
            <div>
                {%if song.cover_file%}
                <img src="{{url_for('main.load_song_image', song_id = song.id)}}" class="img-fluid  rounded-1 h-100 w-100">
                {%else%}
                <img src="{{url_for('static',filename='images/default.jpg')}}" class="img-fluid rounded-1 h-100 w-100" alt="">
                {%endif%}
            </div>
            <div class="fs-5 fw-bolder lh-sm mt-3 text-primary">
                {{song.title}}
            </div> 
        </div> 
        </a>         
    </div> 
    {% endfor %}
    <hr class="my-5">
    </div>
    <h5>Date uploaded : {{album.date_uploaded.strftime('%Y-%m-%d')}}</h5>
    <h5>Artist : {{album.artist.name}}</h5>
    
    
</div>
{%endblock%}


