{% extends "layout.html" %}

{% block head %}{{super()}}{%endblock%}
{%block title%}{{super()}}{%endblock%}
{%block content%}
{{super()}}
<div class="container head rounded-1">
    <section class="creator-stats rounded-4 my-5 p-3">
        <h1 class="text-primary">Dashboard</h1>
        <div>Total Songs Uploaded : {{current_user.songs|length}}</div>
        <div>Total Albums Uploaded : {{current_user.albums|length}}</div>
        <div>Avg. Rating : {{avg}}</div>
    </section>
    <section class="creator-stats rounded-4 my-5 shadow-sm p-3">
        <h1 class="text-primary">Tracks </h1>
        {%for song in current_user.songs%}
            <div class="fs-4 mt-3 border border-primary rounded-2">
                    <div class="song-item p-3 d-flex flex-wrap align-items-center" style="gap:20px;">
                        <div class="rounded-3">
                            {% if song.cover_file%}
                                <img src="{{url_for('main.load_song_image', song_id=song.id)}}" width="80px">
                            {%else%}
                            <img src="{{url_for('static', filename='images/default.jpg')}}" width="80px">
                            {%endif%}
                        </div>
                        <div>
                            <a href="{{url_for('users.song', song_id=song.id)}}">
                            {{song.title}}
                            </a>
                        </div>
                        <div class="btn-toolkit ms-auto">
                            
                                <a href="{{url_for('creators.edit_song', song_id = song.id)}}" class="btn btn-lg btn-outline-primary" role="button">
                                    <i class="bi bi-pen"></i>
                                </a>
                            
        
                                <a class="btn btn-lg btn-outline-danger" href="{{url_for('creators.delete_song',song_id=song.id)}}" role="button">
                                    <i class="bi bi-trash"></i>
                                </a>
                            
                        </div>
                    </div>
            </div>  
        {%endfor%}    
    </section>   

    <section class="creator-stats rounded-4 my-5 shadow-sm p-3">
        <h1 class="text-primary">Album </h1>
        {%for album in current_user.albums%}
            <div class="fs-4 mt-3 border border-primary rounded-2">
                    <div class="song-item p-3 d-flex flex-wrap align-items-center" style="gap:20px;">
                        {% if album.cover_file%}
                            <div class="rounded-3"><img src="{{url_for('main.load_album_image', album_id=album.id)}}" width="80px"></div>
                        {% else %}
                        <div class="rounded-3"><img src="{{url_for('static', filename='images/default_album.png')}}" width="80px"></div>             
                        {%endif%}
                        <div>
                            <a href="{{url_for('users.album', album_id=album.id)}}">
                            {{album.title}}
                            </a>
                        </div>
                        <div class="btn-toolkit ms-auto">
                            
                                <a href="{{url_for('creators.edit_album', album_id = album.id)}}" class="btn btn-lg btn-outline-primary" role="button">
                                    <i class="bi bi-pen"></i>
                                </a>
                            
        
                                <a class="btn btn-lg btn-outline-danger" href="{{url_for('creators.delete_album',album_id=album.id)}}" role="button">
                                    <i class="bi bi-trash"></i>
                                </a>
                            
                        </div>
                    </div>
            </div>  
        {%endfor%}    
    </section>          


</div>


{%endblock%}


