{% extends "layout.html" %}
{%block title%}{{super()}}{%endblock%}
{%block content%}
{{super()}}
<div class="container mt-5" >
    <section class="my-5">
        <h1>Manage Creators</h1><br>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Songs</th>
                <th>Albums</th>
                <th>Rating</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {%for i in range(creators|length)%}
                <tr class="">
                    <td class="align-middle">{{creators[i].name}}</td>
                    <td class="align-middle">{{creators[i].songs|length}}</td>
                    <td class="align-middle">{{creators[i].albums|length}}</td>
                    <td class="align-middle">{{ratings[i]}}</td>
                    <td class="align-middle">
                        {%if creators[i].is_blacklisted%}
                        <a class="btn btn-outline-success" href="{{url_for('admin.black_whitelist',creator_id=creators[i].id)}}" role="button">
                            Whitelist
                        </a>  
                        {%else%}               
                        <a class="btn btn-outline-danger" href="{{url_for('admin.black_whitelist',creator_id=creators[i].id)}}" role="button">
                            Blacklist
                        </a>     
                        {%endif%}                  
                    </td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
    </section>

</div>
{%endblock%}



    
