.form-control:focus {
box-shadow: 1px 1px 10px rgba(7, 27, 248, 0) !important;
}

.beatify-card:hover{
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.137);
    background-color: rgb(239, 242, 242);

    cursor:pointer
}

.button-become{
    position:absolute;
    width:300px;
    height:300px;
    inset:0;
    margin:auto;
}

.table-dark{
    table-layout: fixed;
}


.btn{
    white-space: nowrap;
}

.audio-container{
    width:100%
}

.song-card {
    display: flex;
    flex-direction: column;
  }

.song-card-body {
flex-grow: 1;
}

.dropdown-item:hover{
    background-color: rgb(66, 194, 232);
    color:aliceblue
}

.search-item:hover{
    box-shadow: 1px 1px 10px rgba(53, 53, 53, 0.19);
}