{% extends "layout.html" %}

{%block title%}{{super()}}{%endblock%}
{%block content%}
{{super()}}
<div class="container mb-3" >
    <div class="row mt-5">
    <div class="col-md-6">
    <div class="card song-card">
        <div class="card-header">
            <h2 class="text-primary">Edit Playlist</h2>
        </div>
        <div class="card-body">
        <form method="POST" action="" novalidate autocomplete="off" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group" >
            
                {{form.title.label(for_="title", class_="form-control-label")}}
                {% if form.title.errors %}
                    {{form.title(class_="form-control form-control-lg is-invalid  mb-3")}}
                    <div class="invalid-feedback">
                        {%for error in form.title.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                    {{form.title(class_="form-control form-control-lg  mb-3")}}
                {%endif%}
                
            </div>

            <div class="form-group mt-2" >
                {{form.songs.label()}} <br> 
                <div class="select-fields border border-primary-subtle rounded-1 p-2">
                    {% if form.songs %}
                        {% for item in form.songs %}
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div><a href="{{url_for('users.song', song_id=item.data)}}">{{ item.label }}</a></div>
                                <div>
                                    <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                                </div>
                            </div>
                        {% endfor %}
                    
                    {%endif%}
                </div>
                {% if form.songs.errors %}
                <div class="text-danger">
                    {% for error in form.songs.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            </div>

            <div class="form-group mt-3">
                {{form.submit(class_="btn btn-lg btn-primary")}}
            </div>
              
        </form>
        </div>
    </div>
    </div>
    </div>
    </div>


{%endblock%}


