{%extends "layout.html"%}

{%block title%}{{super()}}{%endblock%}

{%block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            {{super()}}
            <div class="card">
                <div class="card-header">
                    <h1>{{title}}</h1>
                </div>
                <div class="card-body">
            <div class="content-section">
            <form method="POST" action="" autocomplete="off" novalidate>
                {{form.hidden_tag()}}

                <div class="form-group mb-3">
                    {{form.username.label(for_="username", class_="form-control-label")}}
                {% if form.username.errors %}
                    {{form.username(class_="form-control form-control-lg is-invalid mb-3")}}
                    <div class="invalid-feedback mt-0">
                        {%for error in form.username.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                    {{form.username(class_="form-control form-control-lg mb-3")}}
                {%endif%}
                </div>
                    
                                            
                <div class="form-group mb-3">
                    {{form.password.label(for_="password", class_="form-control-label")}}
                {% if form.password.errors %}
                    {{form.password(class_="form-control form-control-lg mb-3 is-invalid")}}
                    <div class="invalid-feedback">
                        {%for error in form.password.errors %}
                            <span class="mt-0">{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                    {{form.password(class_="form-control form-control-lg mb-3")}}
                {%endif%}
                </div>

                <div class="text-dark-emphasis fw-bold">
                    Don't have an account?
                    <span><a href="{{url_for('users.sign_up')}}">Sign Up</a></span>
                </div>
                <div class="form-group mt-3">
                    {{form.submit(class_="btn btn-lg btn-outline-primary")}}
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
{%endblock%}