{%extends "layout.html"%}

{%block title%}{{super()}}{%endblock%}

{%block content%}
<div class="container head">
    <div class="content-section m-auto"style="width:80%">
        <div class="mt-5 m-auto" style="width:150px;" >
            <h4 class="text-center my-3 text-primary">Username : {{current_user.username}}</h4>
        </div>
        <form method="POST" action="" novalidate autocomplete="off" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group mt-5 m-auto w-100" >
            
                {{form.name.label(for_="name", class_="form-control-label")}}
                {% if form.name.errors %}
                    {{form.name(class_="form-control form-control-lg is-invalid border-2 mb-3")}}
                    <div class="invalid-feedback">
                        {%for error in form.name.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                    {{form.name(class_="form-control form-control-lg border-2 mb-3")}}
                {%endif%}
                
            </div>

            <div class="form-group mt-2 m-auto w-100" >
                {{form.description.label(for_="description", class_="form-control-label")}}
                {% if form.description.errors %}
                    {{form.description(class_="form-control form-control-lg border-2 mb-3 is-invalid")}}
                    <div class="invalid-feedback">
                        {%for error in form.description.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                    {{form.description(class_="form-control form-control-lg border-2 mb-3")}}
                {%endif%} 
                
            </div>
            <div class="form-group mt-2 m-auto w-100" >
                {{form.profile_picture.label()}} <br>
                {% if form.profile_picture.errors %}
                    {{form.profile_picture(class_="form-control-file mb-3 border-2 mb-3 is-invalid",accept="image/*" ,type="file" )}}
                    <div class="invalid-feedback">
                        {%for error in form.profile_picture.errors %}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div> 
                {%else%}
                {{form.profile_picture(class="form-control-file mb-3" ,accept="image/*", type="file")}}                
                {%endif%} 
                
            </div>

            <div class="form-group mt-3 m-auto w-100">
                {{form.submit(class_="btn btn-lg btn-primary")}}
            </div>
        </form>
        
    </div>
</div>
{%endblock%}